@font-face {
    font-family: 'Poppins-bold';
    src: url(/assets/fonts/Poppins-Bold.ttf);

    font-family: 'Poppins-boldi';
    src: url(/assets/fonts/Poppins-BoldItalic.ttf);

    font-family: 'Poppins-eb';
    src: url(/assets/fonts/Poppins-ExtraBold.ttf);

    font-family: 'Poppins-italic';
    src: url(/assets/fonts/Poppins-Italic.ttf);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(189, 185, 185, 0.3);
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.titlesbox {
    display: flex;
    flex-direction: row;
}

h3 {
    color: rgb(116, 116, 116);
}

.inputs {
    display: flex;
    flex-direction: row;
}



@media only screen and (min-width:300px) and (max-width:800px) {
    .content {
        display: flex;
        margin-top: 15%;
        margin-bottom: 20%;
        height: 62%;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 25%;
        padding-top: 10%;
    }

    .titlesbox {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .titleday,
    .titlemonth,
    .titleyear {
        font-family: 'Poppins-bold';
        font-weight: 800;
        font-size: 12px;
        letter-spacing: 3px;
    }

    .titleday {
        margin-left: 5%;
    }

    .titlemonth {
        margin-left: 5%;
    }

    .titleyear {
        margin-right: 15%;
    }

    .inputs {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 40px 0px;
        width: 100%;
    }

    .inputday,
    .inputmonth,
    .inputyear {
        font-family: 'Popins-boldi';
        font-weight: 800;
        font-size: 24px;
        color: black;
        width: 80px;
        height: 40px;
        border-color: rgb(128, 128, 128, 0.2);
        border-radius: 6%;
        text-align: center;
    }

    .inputday {
        margin-left: 7%;
    }

    .inputyear {
        margin-right: 6%;
    }

    .centercont {
        position: relative;
    }

    .arrowimg {
        position: absolute;
        z-index: 1;
        width: 15%;
        left: 42%;
        cursor: pointer;
    }

    .line {
        margin-top: 7.5%;
        width: 90%;
        height: 1px;
        background-color: rgb(128, 128, 128, 0.5);
        color: rgb(128, 128, 128, .1);
    }

    .results {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: start;
        margin-top: 10%;
        margin-left: 7%;
        width: 90%;
    }

    h1 {
        font-family: 'Poppins-boldi';
        font-weight: 800i;
        font-size: 55px;
        margin: 0;

    }

    .contenedory {
        display: flex;
        flex-direction: row;
    }

    #y,
    #m,
    #d {
        margin-right: 5%;
        font-size: 60px;
        color: blueviolet;
    }
}


@media only screen and (min-width:801px) and (max-width:1200px) {}

@media only screen and (min-width:1201px) {}