@font-face {
    font-family: 'Poppins-bold';
    src: url(/assets/fonts/Poppins-Bold.ttf);

    font-family: 'Poppins-boldi';
    src: url(/assets/fonts/Poppins-BoldItalic.ttf);

    font-family: 'Poppins-eb';
    src: url(/assets/fonts/Poppins-ExtraBold.ttf);

    font-family: 'Poppins-italic';
    src: url(/assets/fonts/Poppins-Italic.ttf);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(189, 185, 185);
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90vw;
    height: 65vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}


.titlesbox {
    display: flex;
    flex-direction: row;
    color: gray;

}

.inputs {
    display: flex;
    flex-direction: row;
}



@media only screen and (min-width:300px) and (max-width:800px) {
    .content {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 30%;
        height: auto;
    }

    .titlesbox {
        display: flex;
        justify-content: space-between;
        margin-top: 10%;
        width: 100%;
    }

    .titleday,
    .titlemonth,
    .titleyear {
        font-family: 'Poppins-boldi';
        font-weight: 800;
        font-size: 14px;
    }

    .titleday {
        margin-left: 5%;
    }

    .titlemonth {
        margin-left: 5%;
    }

    .titleyear {
        margin-right: 15%;
    }

    .inputs {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 40px 0px;
        width: 100%;
    }

    .inputday,
    .inputmonth,
    .inputyear {
        font-family: 'Popins-boldi';
        font-weight: 800;
        font-size: 26px;
        color: black;
        width: 80px;
        height: 40px;
    }

    .inputday {
        margin-left: 7%;
    }

    .inputyear {
        margin-right: 6%;
    }

    .centercont {
        display: flex;
        flex-direction: column;
    }

    .line {
        width: 90%;
        height: 1px;
        background-color: gray;
        color: gray;
    }

    .arrowimg {
        display: flex;
        align-self: center;
        width: 100px;
        height: 100px;
    }

}

@media only screen and (min-width:801px) and (max-width:1200px) {}

@media only screen and (min-width:1201px) {}